html, body {
  height: 100%;
}

body
{
  background-color: rgb(96, 175, 138);
}
.container
{
  text-align: center;
  height: 85%;

}
#masonry
{
    list-style: none;
    margin: 0;
    padding: 0;
    column-count: 3;
    column-gap: 0.5em;
  }
.masonry-item
{
    width: 100%;
}

.masonry-item > img 
{
    max-width: 100%;
    overflow: hidden;
}

img:hover
{
  opacity: 0.5;
}
