header{
    background-color:rgb(194, 157, 130);
    padding: 1em;
    height: 250px;
    width: 100%;
}

body
{
  background-color: rgb(96, 175, 138);
}
p
{
    padding: 0;
}
img
{
    float: right;
    width:20%;
    height: 90%;
}