html, body {
    height: 100%;
}

.menu {
    position: static;
    width: 100%;
    margin: auto;
    overflow:hidden;
    width: 100%;
    height: 70px; 
    background-color:  rgb(89, 204, 219);
    margin-top: 1em;
    animation-name: fade;
    animation-duration: 2s;
    animation-timing-function: linear;
}
  nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
    display: flex;
    justify-content:space-around;
  }
  nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 15px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #3ead47;
  }


@keyframes fade {
    0% {
        opacity: 0.10;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.50;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
    
    
}
section
{
    width: 100%;
}