footer
{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: grey;
    padding: 1em;
    margin-top: 1em;

}
footer address
{
    display:  flex;
    justify-content: center; 
}

footer ul
{
    display:  flex;
    justify-content: center;

}
footer p
{
    display:  flex;
    justify-content: center;
}
footer ul li a 
{
    color: black;
}

footer ul li 
{
    margin : 5px;
    list-style: none;
}