#spinner
{
    width: 50px;
    height: 50px;
    border: 12px solid grey;
    border-radius: 100%;
    border-style:dotted;
    animation-name: girar;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 1;
    transition: 1s ease-in opacity 0.5s;
    
}

.hide
{
    opacity: 0 !important;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}