html,body
{
    height: 100%;
}

body
{
    background-color: rgb(96, 175, 138);
}

#cardscontainer
{
    width: 100%;
    text-align: center;
}
.card
{
    background-color:darkcyan;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    text-align: center;
}

.titulocard
{
    color:black;
    text-decoration: underline;
}

.multimedia
{
    width: 300px;
    height: 100px;
}

p
{
    width: 300px;
    color:black;
}

.but
{
    display: flex;
    justify-content: center;
    align-items: center;
}
button
{

    background-color:white;
    border: 1px solid black;
    margin: 5px;

}

div
{
    display: inline-block;
}

.card:hover
{
    transform: scale(1.15);
    margin: 1.5em;
    overflow: hidden;
}