html, body {
    width: 100%;
    height: 100%;
}

label, input
{
    margin : 10px 0;
    width: 50%;
    display: block;
}

.fieldset1
{
    width: 45%;
    float: left;
}

.fieldset2
{
    width: 45%;
    float: right;
}

.fieldset3
{
    width: 100%;
    margin-top: 3em;
}

.cbox
{
    display: inline;
    margin : 0 5px;
    width: auto;
}
fieldset:hover
{
    background-color: rgb(194, 157, 130);
}

.opcional
{
    display: none;;
}
input.ver
{
    width: 5%;
}
.ver
{
    display: block;
}

.error
{
    border: 2px solid red;
}

button
{
    margin-top: 1em;
    padding: 2px;
}