html,body
{
    height: 100%;
}
body
{
    background-color:rgb(96, 175, 138);
}

header
{
    height: 5%;
}

header h3
{
    display: none;
}

.volver
{
    position: static;
    margin-top : 3em;
}
div
{
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

#titulo
{
    text-decoration:underline;
    color: black;
    animation: fade-in 2s;
    font-size:xx-large;
}

#autor
{
    text-decoration:underline;
    color: black;
    animation: fade-in 2s;
}

i
{
    color: black;
}


@keyframes fade-in {
    0%{
        opacity: 0;
        transform: rotate(0deg);

    }
    100%
    {
        opacity: 1;
        transform: rotate(360deg);
    }
}
#imagen
{
    float: none;
    width: 70%;
    min-height: 320px;
    max-height: 500px;
    margin: 0 auto;

}

div video
{
    width: 70%;
    min-height: 320px;
    max-height: 500px;
    margin: 0 auto;
}


#descripcion
{
    text-align: left;
}