.container
{
    width: 25%;
    margin-left: 0 auto;
}
.progress {
    background:white;
    height: 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.progress2{
    display: block;
    background:grey;
    height: 10px;
    border-radius: 5px;
    font-size: xx-small;
}

/*Realizamos la animacion*/


.progress2.animation
{
    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes slide
{
    0%
    {
        width: 0%;
    }
    50%
    {
        width: 50%;
    }
    100%
    {
        width: 100%;
    }
    
}